<div class="d-flex w-100 justify-content-between">
    <h6>Lista de Projetos</h6>
    <a [routerLink]="['add']" class="btn btn-sm btn-outline-success"><i class="fa fa-plus mr-1"
            aria-hidden="true"></i>Novo</a>
</div>
<hr>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of docs">
        <div class="d-flex w-100 justify-content-between">
            <div class="col-md-6 pl-0">
                <h6 class="mb-1">Título: {{item.title}}</h6>
            </div>
            <div class="col-md-2 text-right">
                <p *ngFor="let author of item.author">Autor: {{author.name}}</p>
            </div>
            <div class="col-md-2 text-right">
                <p *ngFor="let affliation of item.affliation">Afiliação: {{affliation.name}}</p>
            </div>
            <div class="col-md-2 text-right">
                <p *ngFor="let local of item.local">Local: {{local.name}}</p>
            </div>
        </div>
        <p class="mb-1">Tema: {{item.thema}}</p>
        <p class="mb-1">Área Técnica: {{item.technicalArea}}</p>
    </a>
</div>