<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">ESXP</a>

    <div class="collapse navbar-collapse d-flex w-100 justify-content-between" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" routerLink="/project">Project</a>
        </div>
        <!-- <a class="nav-item nav-link float-right" (click)="logout()">Logout</a> -->
    </div>
</nav>